doctype html
html
  head
      script.
          var url = window.location.href.split("/");
          console.log(url[0] + "//" + url[2]);
          window.opener.postMessage(!{data}, '*');
          //window.close();
  body

                    
