doctype html
html

  head
    
  body(style="padding:40px 0")
    .container
        .row
            .col-xs-4.col-xs-offset-4
                #app
                script(type="application/javascript", src="/layout/js/app.js", async, defer)
                link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css")
                link(rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
            //--
                if !auth
                    br
                    br
                    each message in messages
                        div.alert.alert-danger!= message
                    form(action="/auth/local/login" method="post", name="login", id="login")
                        .form-group
                            label(for="email") Email
                            input.form-control(type="email" id="email" name="email" placeholder="my@mail.com" required autofocus)
                        .form-group
                            label(for="password") Password
                            input.form-control(type="password" id="password" name="password" required)
                        .row
                            .col-xs-5
                                button.btn.btn-md.btn-primary.btn-block(type="submit") Login
                                
                            .col-xs-3
                                a(href="#", class="signup") Sign Up
                                
                            .col-xs-4.text-right
                                .btn-group
                                    a.btn.btn-md.btn-default(href="/auth/facebook/login", class="facebook")
                                        span.fa.fa-facebook
                                    a.btn.btn-md.btn-default(href="/auth/vk/login")
                                        span.fa.fa-vk
                    script.
                        document.getElementsByClassName('signup')[0].onclick = function(e) {
                            e.preventDefault()
                        }
                        /*
                        document.getElementsByClassName('facebook')[0].onclick = function(e) {
                            e.preventDefault()
                            var xhr = new XMLHttpRequest();
                            xhr.open("GET", e.target.getAttribute('href'), true);
                            xhr.onreadystatechange = function(data) {
                                console.log(xhr);
                                if (xhr.readyState != 4) return;
                                if (xhr.status == 200) {
                                    console.log(data);
                                }
                            };
                            xhr.send();
                            
                        }
                        
                        document.forms.login.onsubmit = function (e) {
                            var xhr = new XMLHttpRequest();
                            
                        	var f = e.target,
                        		formData = "email=" + f.elements.namedItem('email').value + "&password=" + f.elements.namedItem('password').value,
                        		xhr = new XMLHttpRequest();
                            
                            xhr.open("POST", f.getAttribute('action'), true);
                            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

                            xhr.onreadystatechange = function(data) {
                                if (xhr.readyState != 4) return;
                                if (xhr.status == 200) {
                                    var data = JSON.parse(xhr.responseText);
                                    if (!data.error) location.href = location.href;
                                }
                            };
                            xhr.send(formData);
                            e.preventDefault();
                        }*/
                else
                    .text-right
                        br
                        a.btn-default.btn(href="/auth/local/logout/") Exit
                    h1 Заголовок
                    #app
                    
